.jfx-slider {
    -jfx-default-thumb: #000000;
}

.jfx-tree-table-view .column-header .label {
    -fx-padding: 0.166667em;
}

.root {
    -fx-background-insets: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, .5, 2, 2);
}

.track-table-cell {
    -fx-spacing: 5px;
}

.track-table-cell .error-label {
    visibility: hidden;
}

.track-table-cell .text-field {
    -fx-background-position: 0.333333em 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1.25em 1.25em;
    -fx-padding: 0.333333em 0 0.333333em 1.75em;
}

.track-name-input {
    -fx-background-image: url("images/title.png");
}

.track-url-input {
    -fx-background-image: url("images/link.png");
}
